Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

**Objectives:**
- List popular languages for Data Science
- Explain the importance of Jupyter Notebook in Data Science
- Demonstrate basic Jupyter Notebook functionalities
- Discuss best practices for organizing and documenting Jupyter Notebooks

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. TensorFlow
4. Matplotlib

| Data Science Tools |
|----------|Apache Spark   |TensorFlow 3  
| 
Jupyter   |  |


# Introduction to Arithmetic Expressions

Below are a few examples of evaluating arithmetic expressions in Python:

1. Addition: `3 + 5`
2. Subtraction: `10 - 4`
3. Multiplication: `6 * 7`
4. Division: `20 / 4`

In [ ]:
This a simple arithmetic expression to mutiply then add integers

In [34]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [36]:
200/60

3.3333333333333335

Author  


John Bassem Samir